<ul class="menu">
    <li><a id="showView1" href="#/view1">show view1</a></li>
    <li><a id="showView2" href="#/view2">show view2</a></li>
</ul>
<div data-ng-view></div>
<div>Angular Require seed app: v<span app-version></span></div>